*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

