*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
header{
    height: 50px;
    width: 100%;
    display: flex;
}
.nav{
    height: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 10px;
    margin-right: 20px;
}
.name{
    align-self: self-start;
}

