*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #ffffff;
    color: #333;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #0a2540;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 3s;
}
.nav a:hover {
    border-bottom: 3px solid white;
}

.main {
    padding: 80px 15%;
    text-align: center;
}

.main h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.main p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #555;
}

.main button {
    padding: 12px 28px;
    border: none;
    background: #0a2540;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 60px 8%;
}
.card{
    padding: 30px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 1s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
.footer {
    background: #0a2540;
    color: #fff;
    text-align: center;
    padding: 20px;
}
@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .hero {
        padding: 60px 8%;
    }

    .hero h1 {
        font-size: 32px;
    }

    .features {
        grid-template-columns: 1fr;
    }
}