*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f4f7fa;
    color: #333;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #0a2540;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 3s;
}
.nav a:hover {
    border-bottom: 3px solid white;
}
